.desk, .mobile {
    display: none;
}

@media (orientation: landscape) {
    .desk{
        display: inline-block;
    }
}

@media (orientation: portrait) {
    html, body {
        height: 800px;
    }

    .stage, .mainbox {
        height: 600px;
    }

    .contentblock, .contentblock2 {
        height: auto;
        font-size: 0.5em;
        text-align: center;
    }

    .mobile{
        display: inline-block;
    }  
}

@media screen and (min-width:501px) {
    .contentblock2a, .contentblock2b {
        height: 300px;
    }
    .contentblock {
        height: 600px;
    } 
    .mainbox, .stage, .stage2, .stage3 {
        height: 1200px;
    }
}

@media screen and (max-width:500px) {
    .contentblock2a, .contentblock2b {
        height: auto;
    } 
    .contentblock, .contentblock2 {
        height: 300px;
    } 
    .mainbox, .stage, .stage2, .stage3 {
        height: auto;
    }
}

/* ////////////////////////////////////////// */

html, body {
    background-color: #8BAAAD;
    height: 590px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

}

.banner {
    z-index: 1000;
    margin-top: -100px;
    position: fixed;
    display: flex;
    background-color: cornflowerblue;
    height: 12%; 
    width: 100%;
}

.navleft, .navleft1, .navleft2, .navright {
    display: flex;
    background-color: #F4FFF8;
    width: 50%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    justify-content: center;
}
.navleft1 {
    width: 55.5%;
    align-items: center; 
}

.namebutton{
    display: flex;
    flex-shrink: 1;
    background-color: #F4FFF8;
    width: 50%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    font-size: 3vw;

}
.namebutton a {
    flex-shrink: 1;
    text-decoration: none;
    color: black;
}
.namebutton a:hover {
    color: rgb(210, 185, 23);
    cursor: pointer;
}
.namebutton a:active{
    color: rgb(153, 136, 29);
}

.navleft2 {
    width: 44.5%;
}
.headerpic {
    width: 22vw;
    max-height: 100%;
    object-fit: cover;
    /* object-position: ; */
}

/* //////////////////////////////////////////////////////////// */

.buttonbox {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lobster', cursive;
}
.buttonbox a {
    text-decoration: none;
    color: black;
    font-stretch: wider;
    font-size: 1.25vw;
}
.buttonbox a:hover{
    color: rgb(210, 185, 23);
    cursor: pointer;
    transform: translate(-1px);
    box-shadow: 6px;
    text-decoration: none;
}
.buttonbox a:active{
    color: rgb(153, 136, 29);
    transform: translate(2px);
    box-shadow: 2px;
}

/* //////////////////////////////////////////////////////////// */

.headingblock {
    margin-top: 100px;
    display: flex;
    background-color: cornflowerblue;
    height: 10%;
    align-items: center;
    justify-content: center;
    
}
.headingleftbox, .headingmidbox, .headingrightbox {
    display: flex;
    width: 33.3%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
    color: black;
}
.headingleftbox a, .headingmidbox a, .headingrightbox a{
    width: 30vw;
}

h3 {
    color: rgb(255, 252, 85);
}
h4 {
    color: antiquewhite;
}


/* ///////////////////////////////////////////////// */

.stage, .stage2, .stage3 {
    background-color: rgb(68, 101, 161);
    display: flex;
    width: 100%;
    height: 1200px;
    /* justify-self: end; */
    flex-direction: row;
    justify-content: center;
    padding: 0%;
    margin: 0%;
    border: 0%;
}
.stage2 {
    background-color: rgb(36, 53, 85);
    width: 80%;
}
.stage3 {
    background-color: rgb(21, 31, 49);
    width: 80%;
    border-left: 30px solid rgba(12, 18, 29, 0.884);
    border-right: 30px solid rgba(12, 18, 29, 0.884); 
    border-style: solid;
}

/* //////////////////////////////////////////////// */

.mainbox {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    background-color: #fcf7b7;
    width: 75%;
    align-items: center;
}

/* //////////////////////////////////// */

.contentblock {
    display: flex;
    flex-direction: column;
    background-color: #8BAAAD;
    width: 90%;
    padding: 0%;
    margin: 0%;
    border: 0%;
    
    align-items: center;
    font-family: 'Comfortaa', cursive;
}
.contentblocka {
    display: flex;
    background-color: #8BAAAD;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.carbox {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#carouselExampleCaptions {
    width: 100%;
    height: 100%;
}
.carousel-inner {
    height: 100%;
    width: 100%;
}
.carousel-item {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    font-family: 'Lobster', cursive;
}
.carousel-item img {
    visibility: hidden;
}



.contentblockb {
    display: flex;
    background-color: #8BAAAD;
    height: 400px;
    width: 100%;
    
}

/* /////////////////////////////////////////////// */

.contentblock2 {
    display: flex;
    flex-direction: column;
    background-color: #8BAAAD;
    width: 90%;
    height: 600px;
    padding: 0%;
    margin: 0%;
    border: 0%;
    align-items: center;
    font-family: 'Comfortaa', cursive;
}

.contentblock2a, .contentblock2b {
    display: flex;
    background-color: #8BAAAD;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.contentblock2b {
    flex-wrap: wrap;
    /* height: 400px; */
}
.contentblock2b a{
    display: flex;
    flex-shrink: 3;
    text-size-adjust: auto;
}


/* //////////////////////////////////////////// */

.lowerpic1, .lowerpic2, .lowerpic3, .lowerpic4, .lowerpic5, .lowerpic6 {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.lowerpic3 {
    object-position: 50% 32%;
}