


{% extends 'base.html' %}
{% block content %}

<div class="headingblock">
    <div class="headingleftbox">
        <h1>-----</h1>
    </div>
    <div class="headingmidbox">
        <h1>Error page</h1>
    </div>
    <div class="headingrightbox">
        <h3>-----</h3>
    </div>
</div>

<div class="stage">
    <div class="stage2">
        <div class="stage3">
            <div class="mainbox">
                <div class="contentblock">
                    <div>
                        <h2> There was an error - {{ e }}</h2>
                    </div>
                </div>

                <div class="contentblock2">
                    <div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







{% endblock %}