{% extends 'base.html' %}
{% block content %}

<div class="headingblock">
    <div class="headingleftbox">
        <h4>Recommended</h4>
    </div>
    <div class="headingmidbox">
        <h3>The Binding of Isaac : Repentence</h3>
    </div>
    <div class="headingrightbox">
        <h4>Recommended</h4>
    </div>
</div>

<div class="stage">
    <div class="stage2">
        <div class="stage3">
            <div class="mainbox">
                <div class="contentblock">
                    <div class="contentblocka">
                        <div class="carbox">
                            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="6000" style="background-image: url(static/images/isaacingame.jpg)">
                                    <img src="static/images/isaacingame.jpg" class="d-block w-100" alt="isaac">
                                    <div class="carousel-caption d-none d-md-block">
                                    <h5></h5>
                                    <p></p>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="6000" style="background-image: url(static/images/isaacingame2.jpg)">
                                    <img src="static/images/isaacingame2.jpg" class="d-block w-100" alt="isaac">
                                    <div class="carousel-caption d-none d-md-block">
                                    <h5></h5>
                                    <p></p>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="6000" style="background-image: url(static/images/isaacingame5.jpg)">
                                    <img src="static/images/isaacingame5.jpg" class="d-block w-100" alt="isaac">
                                    <div class="carousel-caption d-none d-md-block">
                                    <h5></h5>
                                    <p></p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contentblockb">
                        <p><br>Originally released in 2011 by Super Meat Boy developer Edmund McMillen, The Binding of Isaac is rightly considered a classic by fans of rogue-likes and many others. It is based on the Biblical story the same name, which has allowed for a fascinating direction in the games design. Mechanics, environments, characters and items all relate to this theme. The game has recieved multiple expansions and updates since the intial release with the most recent (and final) 'Repentence' releasing last year. Intruiging story, fantastic mechanics and potentially hundreds of hours of gameplay included.</p>
                    </div>
                </div>

                <div class="contentblock2">
                    <div class="contentblock2a">
                            <img class="lowerpic3" src="static/images/isaacpostertall.jpg">
                    </div>
                    <div class="contentblock2b">
                        <ul>
                            <li>Genre: Rogue-like, Procedural, Action-adventure</li>
                            <li>Gameplay Loop: Combat, character builds, bosses</li>
                            <li>Gameplay Time: 1 - 1000 hours</li>
                            <li>Pros: Rogue-like, interesting theme, endless builds, branching paths, hundreds of items, unlocks/challenges/achievements</li>
                            <li>Considerations: Addiction Warning!! If this game clicks with you, you are going to be in a relationship with it. Love AND hate will is innevitable.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
