{% extends 'base.html' %}
{% block content %}

<div class="headingblock">
    <div class="headingleftbox">
        <h4>Showcase</h4>
    </div>
    <div class="headingmidbox">
        <h3>OneShot</h3>
    </div>
    <div class="headingrightbox">
        <h4>Showcase</h4>
    </div>
</div>

<div class="stage">
    <div class="stage2">
        <div class="stage3">
            <div class="mainbox">
                <div class="contentblock">
                    <div class="contentblocka">
                        <div class="carbox">
                            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="6000" style="background-image: url(static/images/osingame1.jpg)">
                                    <img src="static/images/osingame1.jpg" class="d-block w-100" alt="oneshot">
                                    <div class="carousel-caption d-none d-md-block">
                                    <h5></h5>
                                    <p></p>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="6000" style="background-image: url(static/images/osingame2.jpg)">
                                    <img src="static/images/osingame2.jpg" class="d-block w-100" alt="oneshot">
                                    <div class="carousel-caption d-none d-md-block">
                                    <h5></h5>
                                    <p></p>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="6000" style="background-image: url(static/images/osmeta.jpg)">
                                    <img src="static/images/osmeta.jpg" class="d-block w-100" alt="oneshot">
                                    <div class="carousel-caption d-none d-md-block">
                                    <h5></h5>
                                    <p></p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contentblockb">
                        <p class="para"><br>This puzzle adventure game was developed in 2014 for a developer competition. After receiving good feedback the original game was expanded for a more complete experience in 2016. It is currently due to be ported to Switch, PS4 and XboxOne. It was nominated for the "PC Game of the Year" Golden Joystick Award in 2017.<br>This was a genuinly touching experience, I was hooked from the start and was constantly suprised along the journey. This is one that stays with you after you finish it.
                        </p>
                    </div>
                </div>

                <div class="contentblock2">
                    <div class="contentblock2a">
                            <img class="lowerpic2" src="static/images/oslogotall.jpg">
                    </div>
                    <div class="contentblock2b">
                        <ul class="list">
                            <bold>Gameplay Loop:</bold>Explore, story, puzzles
                            <bold>Gameplay Time:</bold>4-10 hours
                            <bold>Pros:</bold>Impactful narrative, good soundtrack, atmosphere, unique mechanics, meta.
                            <bold>Considerations:</bold>Play in a dimly lit area with headphones for maximum atmosphere. Do not research this game, go in totally blind. Trust us!
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
