{% extends 'base.html' %}
{% block content %}

<div class="headingblock">
    <div class="headingleftbox">
        <h4>Your Pick!</h4>
    </div>
    <div class="headingmidbox">
        <h3>Axiom Verge</h3>
    </div>
    <div class="headingrightbox">
        <h4>Your Pick!</h4>
    </div>
</div>

<div class="stage">
    <div class="stage2">
        <div class="stage3">
            <div class="mainbox">
                <div class="contentblock">
                    <div class="contentblocka">
                        <div class="carbox">
                            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="6000" style="background-image: url(static/images/axiomingame4.jpg)">
                                    <img src="static/images/axiomingame4.jpg" class="d-block w-100" alt="axiomverge">
                                    <div class="carousel-caption d-none d-md-block">
                                    <h5></h5>
                                    <p></p>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="6000" style="background-image: url(static/images/axiomingame5.jpg)">
                                    <img src="static/images/axiomingame5.jpg" class="d-block w-100" alt="axiomverge">
                                    <div class="carousel-caption d-none d-md-block">
                                    <h5></h5>
                                    <p></p>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="6000" style="background-image: url(static/images/axiomingame3.jpg)">
                                    <img src="static/images/axiomingame3.jpg" class="d-block w-100" alt="axiomverge">
                                    <div class="carousel-caption d-none d-md-block">
                                    <h5></h5>
                                    <p></p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contentblockb">
                        <p><br>Considered a love letter to classic games, Axiom Verge puts the S in SNES. It celebrates the retro shooters of the 90's while injecting shots of adrenaline into all design areas. Super Metroid gave you a two weapons? Well Axiom Verge gives you 10. Plus fun items and mechanics that makes you think, 'why didn't someone do this before?'
                        You play as Trace the scientist and find yourself in a mysterious room, in a mysterious world, hearing a mysterious voice. You're a fish in a barrel...but you have a massive gun...and you're going to find out what the hells going on.
                        </p>
                    </div>
                </div>

                <div class="contentblock2">
                    <div class="contentblock2a">
                            <img class="lowerpic4" src="static/images/axiom.gif">
                    </div>
                    <div class="contentblock2b">
                        <ul>
                            <li>Genre: Retro, Metroidvania, Action-adventure</li>
                            <li>Gameplay Loop: Combat, Exploration, Bosses</li>
                            <li>Gameplay Time: 10 - 16 hours</li>
                            <li>Pros: Interesting theme/story, great soundtrack, weapon variety, unique mechanics</li>
                            <li>Considerations: Turn it up!!!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}