{% extends 'base.html' %}
{% block content %}

<div class="headingblock">
    <div class="headingleftbox">
        <h4>Contact</h4>
    </div>
    <div class="headingmidbox">
        <h4>Contact</h3>
    </div>
    <div class="headingrightbox">
        <h4>Contact</h4>
    </div>
</div>

<div class="stage">
    <div class="stage2">
        <div class="stage3">
            <div class="mainbox">
                <div class="contentblock">
                    <div class="contentblocka">
                        <img class="lowerpic5" src="static/images/delta1.jpg">
                    </div>
                    <div class="contentblockb">
                        <p>Thank you for visiting our humble site. Please feel free to contact us with any questions or feedback. Get invloved! Vote in our weekly poll so you're favourite game can be shared with others.<br>marcusjolmes191@gmail.com</p>
                        
                    </div>
                </div>

                <div class="contentblock2">
                    <div class="contentblock2a">
                        <img class="lowerpic6" src="static/images/oslogotall.jpg">
                    </div>
                    <div class="contentblock2b">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}