{% extends 'base.html' %}
{% block content %}

<div class="headingblock">
    <div class="headingleftbox">
        <h1>-----</h1>
    </div>
    <div class="headingmidbox">
        <h2>This is the third page</h2>
    </div>
    <div class="headingrightbox">
        <h3>-----</h3>
    </div>
</div>

<div class="stage">
    <div class="stage2">
        <div class="stage3">
            <div class="mainbox">
                <div class="contentblock">
                    <div>
                        <img class="p1pic1" src="static/unsplash.jpg">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sapiente quam molestias dicta porro, quasi obcaecati perferendis voluptatibus quis ipsam ducimus odit numquam expedita tempora!</p>
                    </div>
                </div>

                <div class="contentblock2">
                    <div>
                        <img class="p1pic1" src="static/unsplash.jpg">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum veritatis et saepe quos alias, eos, consequatur recusandae consectetur quisquam molestias, amet natus excepturi id minus!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







{% endblock %}
